<div class="container">

        <div class="col-lg-3" id="linkscolumn">
            <div class="row" id="buttondiv">
                <a href="/accounts-page"><button id="account"><h6>View Accounts!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                <a href="/shop"><button id="shop"><h6>Busy Bee Shop!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                    <a href="/videos"><button id="video"><h6>Watch Videos!</h6></button></a>
                </div>
                <div class="row" id="buttondiv">
                    <a href="/login"><button id="logout"><p id="logouttext">Log Out!</p></button></a>
                </div>
            <div class="row">
                <img id="bee" src="../images/Bee.png" height="400" width="400">
            </div>
            
        </div>
        
        <div class="col-lg-9" id="buttondiv">

            <div class="row">
                <h1>Games!</h1>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <h4>Crystal Collector</h4><h5>Match the number without going over<br>to win coins!</h5>
            </div> 
            <div class="row">
                <a href=""><img id="crystal" src="../images/Crystal-Collector.png" height="240" width="400"></a>
            </div>
            <div class="row">
                <br><button id="play"><h5>Play Now!</h5></button>
            </div>
            <div class="row">
                <br><br><h4>More games coming soon!</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <footer id="gamesFooter">&copy; 2019 Danica Ferrer, Daniel Gomez, Ruth Vasquez & Scott Goodrich</footer>
            </div>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
