
   <div class="col-8 offset-2">
        <h2 id="header" class="text-center">Welcome to Busy Bee Banking!</h2>  
    <form id="loginform" class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="user" aria-describedby="emailHelp">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="button">Sign In</button>
        or <button><a href="/signup">Sign Up!</a></button>
      </form>
      <img style="float: right" width="200px" height="200px" src="/images/beehive-clipart-3.png">
</div>

<br>
<br>
{{!-- <a href="/shop">shop</a>
<a href="/accounts">accounts</a> --}}

<script type="text/javascript">
$(document).ready(function() {
  $('.button').on('click', function() {
    document.getElementById("")
  });
});
</script>