{{!-- <div class="container">
        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-12">
                    <h1
                    <style margin-top: .5em;
                          text-align: center;
                          font-size: 8em;
                          font-weight: bold;
                          font-family: 'Luckiest Guy', cursive;
                          color: #f9ca2c;
                          -webkit-text-stroke: .001em;
                          -webkit-text-stroke-color: #151515;
                          text-shadow: 0 13.36px 8.896px #8d8372,0 -2em 1em #fff;
                        }>
                    id="header">BUSY BEE SHOP!</style></h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <h4>DARK MODE</h4>
                    </div>
                    <div class="row" id="image row">
                        <div class="col-sm-12">
                            <img id="darkmode" src="/images/darkMode.png" width="120" height="90">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>GIVE YOUR APP A NEW LOOK!</h3>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-med-4" id="buttondiv">
                            <button id="buyskins"><h5>100 COINS</h5></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" id="buttondiv">
                    <h4>RAISE YOUR INTEREST RATE</h4><h5>INCREASE YOUR SAVINGS FASTER!</h5>
                    <br>
                    <button id="buyrate"><h5>150 COINS</h5></button>
                </div>
                <div class="col-lg-4" id="buttondiv">
                    <h4>LOWER YOUR MINIMUM BALANCES</h4><h5>LESS MONEY HAS TO STAY IN THE BANK!</h5>
                    <br>
                    <button id="buybalance"><h5>150 COINS</h5></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <footer>&copy; 2019 Danica Ferrer, Daniel Gomez, Ruth Vasquez & Scott Goodrich</footer>
                </div>
            </div>
        </div>
        <div class="col-lg-3" id="linkscolumn">
            <div class="row" id="buttondiv">
                <a href="../games.handlebars"><button id="accounts"><h6>View Accounts!</h6></button></a>
            </div>
            <div class="row">
                <br><br>
            </div>
            <div class="row" id="buttondiv">
                <a href="./accounts"><button id="games"><h6>Play Games!</h6></button></a>
            </div>
            <div class="row">
                <img id="bee" src="/images/Bee.png" height="400" width="400">
            </div>
        </div>

        
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> --}}

    <div class="container">
        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-12">
                    <h1 id="header">BUSY BEE SHOP!</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <h4>DARK MODE</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="imagediv">
                            <img id="darkmode" src="/images/darkMode.png" width="130" height="90">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>GIVE YOUR APP A NEW LOOK!</h3>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-med-4" id="buttondiv">
                            <button class="button" id="css-toggle"><img src="/images/Coin.png" width="30" height="30"><h5>100 COINS</h5></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" id="buttondiv">
                    <h4>RAISE YOUR INTEREST RATE 3%</h4><h5>INCREASE YOUR SAVINGS FASTER!</h5>
                    <br>
                    <button class="button" id="rate"><img src="/images/Coin.png" width="30" height="30"><h5>150 COINS</h5></button>
                </div>
                <div class="col-lg-4" id="buttondiv">
                    <h4>LOWER YOUR MINIMUM BALANCES</h4><h5>LESS MONEY HAS TO STAY IN YOUR ACCOUNTS!</h5>
                    <br>
                    <button class="button" id="balance"><img src="/images/Coin.png" width="30" height="30"><h5>150 COINS</h5></button>
                </div>
            </div>
            
        </div>
        <div class="col-lg-3" id="linkscolumn">
            <div class="row" id="buttondiv">
                <a href="/accounts"><button id="accounts"><h6>View Accounts!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                <a href="/games"><button id="games"><h6>Play Games!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                <a href="/videos"><button id="videos"><h6>Watch Videos!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                <a href="/login"><button id="logout"><p id="logouttext">Log Out!</p></button></a>
            </div>
            <div class="row">
                <img id="bee" src="/images/Bee.png" height="400" width="400">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <footer>&copy; 2019 Danica Ferrer, Daniel Gomez, Ruth Vasquez & Scott Goodrich</footer>
            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script>
        var checkingBal;
        var checkMinBal = 50;
        var savMinBal = 50;
        var interest;
        $("logout").on("click", function() {
            window.location.href = "/login";
        });
        $("#balance").on("click", function() {
            checkingBal =- 150;
            minBal =- 30;
        });
        $("#rate").on("click", function(){
            interest =+ 3;
        });
    
    </script>
