<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/styles/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" title="normalmode" href="../public/styles/normalmode.css">
    <link rel="stylesheet alternate" title="darkmode" href="../public/styles/darkmode.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <title>Shop!</title>
</head>
<body class="normal">
    <div class="container">
        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-12">
                    <h1>BUSY BEE SHOP!</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <h4>DARK MODE</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="imagediv">
                            <img id="darkmode" src="../public/images/darkMode.png" width="130" height="90">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>GIVE YOUR APP A NEW LOOK!</h3>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-med-4" id="buttondiv">
                            <button id="css-toggle"><img src="../public/images/Coin.png" width="30" height="30"><h5>100 COINS</h5></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" id="buttondiv">
                    <h4>RAISE YOUR INTEREST RATE 3%</h4><h5>INCREASE YOUR SAVINGS FASTER!</h5>
                    <br>
                    <button id="rate"><img src="../public/images/Coin.png" width="30" height="30"><h5>150 COINS</h5></button>
                </div>
                <div class="col-lg-4" id="buttondiv">
                    <h4>LOWER YOUR MINIMUM BALANCES</h4><h5>LESS MONEY HAS TO STAY IN YOUR ACCOUNTS!</h5>
                    <br>
                    <button id="balance"><img src="../public/images/Coin.png" width="30" height="30"><h5>150 COINS</h5></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <footer>&copy; 2019 Danica Ferrer, Daniel Gomez, Ruth Vasquez & Scott Goodrich</footer>
                </div>
            </div>
        </div>
        <div class="col-lg-3" id="linkscolumn">
            <div class="row" id="buttondiv">
                <a href="/accounts"><button id="accounts"><h6>View Accounts!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                <a href="/games"><button id="games"><h6>Play Games!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                <a href="/videos"><button id="videos"><h6>Watch Videos!</h6></button></a>
            </div>
            <div class="row" id="buttondiv">
                <a href="/login"><button id="logout"><p id="logouttext">Log Out!</p></button></a>
            </div>
            <div class="row">
                <img id="bee" src="../public/images/Bee.png" height="400" width="400">
            </div>
        </div>

        
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script>
    
        // $("#css-toggle").on("click", function() {
        //     if ($("body").hasClass("dark")) {
        //         $("body").removeClass("dark");
        //         $("body").addClass("normal");
        //     } else {
        //         $("body").removeClass("normal");
        //         $("body").addClass("dark");
        //     }
        // });

        var checkingBal;
        var checkMinBal = 50;
        var savMinBal = 50;
        var interest;

        $("logout").on("click", function() {

            window.location.href = "/login";
        });

        $("#balance").on("click", function() {
            checkingBal =- 150;
            minBal =- 30;

        });

        $("#rate").on("click", function(){
            interest =+ 3;
        });
    
    </script>


</body>
</html>