<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Freckle+Face&display=swap" rel="stylesheet">
    <title>Shop</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                <h1>SHOP!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <h4>BUY SKINS</h4>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <img src="" width="50" height="30">
                    </div>
                    <div class="col-sm-5">
                        <img src="" width="50" height="30">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <h6>DARK MODE</h6>
                    </div>
                    <div class="col-sm-5">
                        <h6>PINK MODE</h6>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>